.body {
  margin-left: 10px;
}
.strike {
  text-decoration: line-through;
}

/* hscc-csp-content.css - provide its contents here so that this document is easy to read when it is a stand-alone file (easy to deliver when and where needed) */

#div-ContentView {
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}

#div-ContentView h1 { /* like cp-SectionTitle */
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  padding-top: 9px;
  padding-bottom: 9px;
}

#div-ContentView h2 { /* like cp-SectionSubtitle */
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: normal;
  padding-top: 7px;
  padding-bottom: 7px;
}

#div-ContentView h3 {
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

#div-ContentView p,
#div-ContentView div,
#div-ContentView td,
#div-ContentView ul li,
#div-ContentView ol li { /* like cp-SectionText */
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: rgb(60,60,60);
  line-height: 120%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}

#div-ContentView th {
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: rgb(60,60,60);
  line-height: 120%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  font-weight: 700;
}

#div-ContentView b,
#div-ContentView div b,
#div-ContentView p b,
#div-ContentView li b,
#div-ContentView ul li b,
#div-ContentView ol li b { /* like other "bold" text in the style sheet */
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

#div-ContentView i,
#div-ContentView div i,
#div-ContentView p i,
#div-ContentView li i,
#div-ContentView ul li i,
#div-ContentView ol li i {
  font-family: "open_sansregular", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: italic;
}

#div-ContentView pre,
#div-ContentView div pre,
#div-ContentView p pre,
#div-ContentView li pre,
#div-ContentView ul li pre,
#div-ContentView ol li pre {
  font-family: "Courier New", "Courier", monospace;
  font-size: 14px;
  line-height: 102%;
}

#div-ContentView a,
#div-ContentView div a,
#div-ContentView p a,
#div-ContentView ul li a,
#div-ContentView ol li a {
  color:rgb(20,149,204);
  text-decoration: none;
  font-size: 17px;
  font-weight:normal;
  cursor:pointer;
}

tr.zebraOn td {
  vertical-align: top;
  background-color: rgb(240,240,240);
}

tr.zebraOff td {
  vertical-align: top;
  background-color: rgb(255,255,255);
}
